<div class="container d-flex">
    <div class="left">
        <div class="parking-details">
            <div class="input-bundle d-flex align-items-center">
                <span><img src="./../../../../assets/images/LandingPage/map-icon.png"></span> &nbsp;
                <input type="text" class="form-control" placeholder="Where do you want to park"> &nbsp;
                <span><button class="filter-btn d-flex" mat-raised-button><span>Monthly</span> &nbsp;&nbsp; <span><img src="./../../../../assets/images/MapPage/dropdown-white.png"></span></button>
                </span>
            </div>

            <br />
            <div class="d-flex">
                <div class="input-bundle d-flex align-items-center col-lg-5">
                    <span><img src="./../../../../assets/images/LandingPage/calendar-icon.png"></span> &nbsp;
                    <input type="text" class="form-control" placeholder="14 / 03 / 22"> &nbsp;
                </div>

                <div class="to d-flex justify-content-center align-items-center col-lg-2">To</div>

                <div class="input-bundle d-flex align-items-center col-lg-5">
                    <span><img src="./../../../../assets/images/LandingPage/calendar-icon.png"></span> &nbsp;
                    <input type="text" class="form-control" placeholder="19 / 03 / 22"> &nbsp;
                </div>
            </div>
        </div>

        <div class="more-details">
            <div class="top d-flex justify-content-center">
                <div class="header">
                    Parking Space location
                </div>
            </div>

            <hr>

            <div class="dates-holder">
                <div class="dates d-flex">
                    <div class="start-date text-center">
                        <div class="header">Start date</div>
                        <div class="value">(6th Jan)</div>
                    </div>
                    <div class="monthly-cost text-center">
                        <div class="header">Monthly cost</div>
                        <div class="value">$130</div>
                    </div>
                </div>

                <button class="book-security-btn d-flex justify-content-center align-items-center" mat-raised-button><img src="./../../../../assets/images/MapPage/lock-icon.png"> &nbsp;&nbsp;<span>Book Now Securely</span></button>
            </div>

            <div class="d-flex justify-content-center">
                <div class="buttons-holder d-flex justify-content-between">
                    <button class="overview-btn" mat-raised-button>Overview</button>
                    <button class="review-btn" mat-raised-button>Review</button>
                    <button class="park-btn" mat-raised-button>How to Park</button>
                </div>
            </div>

            <div class="img-holder d-flex justify-content-center">
                <div class="img">
                    <img src="./../../../../assets/images/MapPage/Rectangle 54.png" width="100%">
                </div>
            </div>

            <div class="streetview-holder d-flex justify-content-center">
                <div class="streetview">
                    <div class="subheader">Open street view</div>
                    <hr />

                    <p>One space located on Hill Hay Close in Fowey. The space is suitable for vehicles up to the size of a Large - (4x4).</p>

                    <p>The space is available 24 hours on all days. You can enter/exit this location multiple times throughout the duration of your booking.</p>

                    <div class="subheader">See full details <span><img src="./../../../../assets/images/MapPage/Arrow 1.png"></span></div>
                </div>
            </div>
        </div>

    </div>
    <div class="right d-flex justify-content-end">
        <img src="./../../../../assets/images/MapPage/Rectangle 10.png" width="90%" height="60%">
    </div>
</div>