mat-toolbar {
    padding: 40px;
    background-color: #ffffff;
}

.nav a {
    text-decoration: none;
    font-family: 'Montserrat-Medium';
    color: #000000;
    font-size: 16px;
    line-height: 19px;
    margin-left: 25px;
    margin-right: 25px;
}

.signup-btn {
    background-color: #FD7C0A;
    border-radius: 4px;
    border: none;
    padding: 12px 22px;
    color: #ffffff;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    line-height: 19px;
}

.menu-btn {
    background-color: #FD7C0A;
    color: #ffffff;
    border: none;
    display: none !important;
}

@media only screen and (max-width: 600px) {
    .nav {
        display: none;
    }
    .menu-btn {
        display: block !important;
    }
}