<mat-toolbar class="d-flex justify-content-between">
    <img src="./../../../../assets/images/LandingPage/ParkOnMyDriveLogo.png">

    <div class="nav">
        <div class="links d-flex align-items-center">
            <a mat-list-item [routerLink]="['']" [routerLinkActive]="['is-active']"> How It Works</a>
            <a mat-list-item [routerLink]="['']" [routerLinkActive]="['is-active']"> Popular Locations</a>
            <a mat-list-item [routerLink]="['']" [routerLinkActive]="['is-active']"> Company</a>
            <a mat-list-item [routerLink]="['']" [routerLinkActive]="['is-active']"> Help</a>
            <a mat-list-item [routerLink]="['']" [routerLinkActive]="['is-active']"> Login</a>
        </div>

        <div class="button">
            <button class="signup-btn" mat-raised-button>Sign Up</button>
        </div>
    </div>

    <button class="menu-btn d-flex align-items-center" mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button">
    <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">

        <button mat-menu-item><span>How it Works</span></button>

        <button mat-menu-item><span>Popular Locations</span></button>

        <button mat-menu-item><span>Company</span></button>

        <button mat-menu-item><span>Help</span></button>

        <button mat-menu-item><span>Login</span></button>

        <button mat-menu-item><span>Sign Up</span></button>

    </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>