<mat-toolbar class="d-flex justify-content-between">
    <img src="./../../../../assets/images/LandingPage/ParkOnMyDriveLogo.png">

    <div class="nav">
        <div class="links d-flex align-items-center">
            <a mat-list-item [routerLink]="['']" [routerLinkActive]="['is-active']"> How It Works</a>
            <a mat-list-item [routerLink]="['']" [routerLinkActive]="['is-active']"> Popular Locations</a>
            <a mat-list-item [routerLink]="['']" [routerLinkActive]="['is-active']"> Company</a>
            <a mat-list-item [routerLink]="['']" [routerLinkActive]="['is-active']"> Help</a>
            <a mat-list-item [routerLink]="['']" [routerLinkActive]="['is-active']"> Login</a>
        </div>

        <div class="button">
            <button class="signup-btn" mat-raised-button>Sign Up</button>
        </div>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>