<div class="container">
    <section>

        <div class="vehicle">
            <div class="header d-flex justify-content-center align-items-center">
                <img src="./../../../../assets/images/Vehicle/vehicle-icon.png"> &nbsp;&nbsp;
                <h3>Your Vehicle</h3>
            </div>

            <br />
            <div class="vehicle-detail">
                <h4>
                    Vehicle Registration Number:
                </h4>

                <div class="input-bundle d-flex align-items-center">
                    <input type="text" class="form-control" placeholder="Enter Registration Number"> &nbsp;
                    <span><button class="find-btn" mat-raised-button>Find Vehicle</button>
                    </span>
                </div>

                <div class="detail-holder row col-lg-12 d-flex">
                    <div class="left col-lg-7 col-md-6 col-sm-12">
                        <img src="./../../../../assets/images/Vehicle/Rectangle 23.png" width="100%">
                    </div>

                    <div class="right col-lg-5 col-md-6 col-sm-12">
                        <h4>Vehicle Details:</h4>

                        <p>The space is available 24 hours on all days. You can enter/exit this location multiple times throughout the duration of your booking.</p>

                        <p>The space is available 24 hours on all days. You can enter/exit this location multiple times</p>
                    </div>
                </div>

                <br />
                <button class="proceed-btn" mat-raised-button>Proceed</button>
            </div>
        </div>

    </section>
</div>