.parking-details {
    border: #EBEBEB 2px solid;
    border-radius: 16px;
    padding: 20px;
}

.input-bundle {
    background-color: #F3F3F3;
    border-radius: 8px;
    padding: 5px 15px;
}

.input-bundle input {
    background-color: #F3F3F3;
    border: none;
    box-shadow: none;
}

.filter-btn {
    background-color: #FD7C0A;
    border-radius: 4px;
    border: none;
    padding: 16px 22px;
    color: #ffffff;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    line-height: 19px;
}

.container {
    max-width: 95%;
    margin-top: 50px;
}

.container .right {
    padding: 0 0 20px 0;
}

.card {
    box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    background-color: #ffffff;
    padding: 10px;
}

mat-card-content {
    padding: 0;
    margin-top: 15px;
}

mat-card-content .header {
    font-family: 'Montserrat-SemiBold';
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
}

.amount .value {
    font-family: 'Montserrat-SemiBold';
    font-size: 24px;
    line-height: 30px;
}

.amount .text {
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    line-height: 20px;
    color: #666666;
}

hr {
    border-top: 3px solid #666666;
    border-radius: 5px;
}

.card-bottom {
    width: 100%;
    background-color: #ffffff;
}

.card-bottom span {
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.book-btn {
    background-color: #FD7C0A;
    border-radius: 4px;
    border: none;
    padding: 16px 22px;
    color: #ffffff;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}

.cards-holder {
    margin-top: 20px;
}

.card-bundle {
    padding: 5px;
    margin-bottom: 15px;
}

.to {
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    line-height: 19px;
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 100%;
    }
    .container .right {
        padding: 0 !important;
    }
    .container .right img {
        width: 100%;
    }
    .filter-btn {
        font-size: 14px;
        line-height: 19px;
    }
    mat-card-content .header {
        font-size: 14px;
        line-height: 19px;
    }
    .amount .value {
        font-size: 18px;
        line-height: 25px;
    }
    .amount .text {
        font-size: 14px;
        line-height: 19px;
    }
    .card-bottom span {
        font-size: 14px;
        line-height: 19px;
    }
    .book-btn {
        font-size: 14px;
        line-height: 19px;
    }
    .to {
        font-size: 14px;
        line-height: 19px;
    }
}