<div class="d-flex justify-content-center">
    <div class="container row d-flex col-lg-12">
        <div class="left col-lg-8 col-md-6">
            <div class="parking-details col-lg-12">
                <div class="input-bundle d-flex align-items-center">
                    <span><img src="./../../../../assets/images/LandingPage/map-icon.png"></span> &nbsp;
                    <input type="text" class="form-control" placeholder="Where do you want to park"> &nbsp;
                    <span><button class="filter-btn d-flex" mat-raised-button><span>Monthly</span> &nbsp;&nbsp; <span><img src="./../../../../assets/images/MapPage/dropdown-white.png"></span></button>
                    </span>
                </div>

                <br />
                <div class="d-flex">
                    <div class="input-bundle d-flex align-items-center col-lg-5">
                        <span><img src="./../../../../assets/images/LandingPage/calendar-icon.png"></span> &nbsp;
                        <input type="text" class="form-control" placeholder="14 / 03 / 22"> &nbsp;
                    </div>

                    <div class="to d-flex justify-content-center align-items-center col-lg-2">To</div>

                    <div class="input-bundle d-flex align-items-center col-lg-5">
                        <span><img src="./../../../../assets/images/LandingPage/calendar-icon.png"></span> &nbsp;
                        <input type="text" class="form-control" placeholder="19 / 03 / 22"> &nbsp;
                    </div>
                </div>
            </div>

            <div class="cards-holder d-flex justify-content-between row">
                <div class="card-bundle col-lg-6">
                    <mat-card class="card">
                        <div class="img">
                            <img mat-card-image src="./../../../../assets/images/MapPage/Rectangle 41.png" alt="" width="100%">
                        </div>
                        <mat-card-content>
                            <div class="header">
                                Parking location at area 1
                            </div>

                            <div class="amount">
                                <span class="value">12</span> <span class="text">/ day</span>
                            </div>

                            <div>
                                <hr />
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="card-bottom d-flex justify-content-between">
                                <div><img src="./../../../../assets/images/MapPage/walking-person-icon.png">&nbsp; &nbsp;<span>10 mins</span></div>
                                <div><img src="./../../../../assets/images/MapPage/exclamation-mark-icon.png">&nbsp; &nbsp;<span>Guaranteed</span></div>
                            </div>
                        </mat-card-actions>
                    </mat-card>

                    <br />
                    <button class="book-btn" mat-raised-button>Book Now</button>
                </div>


                <div class="card-bundle col-lg-6">
                    <mat-card class="card">
                        <div class="img">
                            <img mat-card-image src="./../../../../assets/images/MapPage/Rectangle 41.png" alt="" width="100%">
                        </div>
                        <mat-card-content>
                            <div class="header">
                                Parking location at area 1
                            </div>

                            <div class="amount">
                                <span class="value">12</span> <span class="text">/ day</span>
                            </div>

                            <div>
                                <hr />
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="card-bottom d-flex justify-content-between">
                                <div><img src="./../../../../assets/images/MapPage/walking-person-icon.png">&nbsp; &nbsp;<span>10 mins</span></div>
                                <div><img src="./../../../../assets/images/MapPage/exclamation-mark-icon.png">&nbsp; &nbsp;<span>Guaranteed</span></div>
                            </div>
                        </mat-card-actions>
                    </mat-card>

                    <br />
                    <button class="book-btn" mat-raised-button>Book Now</button>
                </div>

                <div class="card-bundle col-lg-6">
                    <mat-card class="card">
                        <div class="img">
                            <img mat-card-image src="./../../../../assets/images/MapPage/Rectangle 41.png" alt="" width="100%">
                        </div>
                        <mat-card-content>
                            <div class="header">
                                Parking location at area 1
                            </div>

                            <div class="amount">
                                <span class="value">12</span> <span class="text">/ day</span>
                            </div>

                            <div>
                                <hr />
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="card-bottom d-flex justify-content-between">
                                <div><img src="./../../../../assets/images/MapPage/walking-person-icon.png">&nbsp; &nbsp;<span>10 mins</span></div>
                                <div><img src="./../../../../assets/images/MapPage/exclamation-mark-icon.png">&nbsp; &nbsp;<span>Guaranteed</span></div>
                            </div>
                        </mat-card-actions>
                    </mat-card>

                    <br />
                    <button class="book-btn" mat-raised-button>Book Now</button>
                </div>


                <div class="card-bundle col-lg-6">
                    <mat-card class="card">
                        <div class="img">
                            <img mat-card-image src="./../../../../assets/images/MapPage/Rectangle 41.png" alt="" width="100%">
                        </div>
                        <mat-card-content>
                            <div class="header">
                                Parking location at area 1
                            </div>

                            <div class="amount">
                                <span class="value">12</span> <span class="text">/ day</span>
                            </div>

                            <div>
                                <hr />
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="card-bottom d-flex justify-content-between">
                                <div><img src="./../../../../assets/images/MapPage/walking-person-icon.png">&nbsp; &nbsp;<span>10 mins</span></div>
                                <div><img src="./../../../../assets/images/MapPage/exclamation-mark-icon.png">&nbsp; &nbsp;<span>Guaranteed</span></div>
                            </div>
                        </mat-card-actions>
                    </mat-card>

                    <br />
                    <button class="book-btn" mat-raised-button>Book Now</button>
                </div>

            </div>
        </div>

        <div class="right d-flex justify-content-end  col-lg-4 col-md-6">
            <img src="./../../../../assets/images/MapPage/Rectangle 10.png" width="90%" height="60%">
        </div>
    </div>
</div>