<div class="container">
    <section>

        <div class="payment">
            <div class="header d-flex justify-content-center align-items-center">
                <img src="./../../../../assets/images/Vehicle/vehicle-icon.png"> &nbsp;&nbsp;
                <h3>Check out</h3>
            </div>

            <br />
            <div class="payment-detail">
                <div class="detail-holder">
                    <h4>Price breakdown:</h4>

                    <hr class="top-hr">

                    <div class="pricing d-flex justify-content-between">
                        <div class="left">Monthly cost:</div>
                        <div class="right">$124.00</div>
                    </div>

                    <div class="pricing d-flex justify-content-between">
                        <div class="left">Deposit:</div>
                        <div class="right">$124.00 (taken today)</div>
                    </div>

                    <div class="pricing d-flex justify-content-between">
                        <div class="left">Billing frequency:</div>
                        <div class="right">Monthly rolling</div>
                    </div>

                    <hr class="bottom-hr">
                    <div class="discount d-flex justify-content-between align-items-center">
                        <div class="left">Discount Applied:</div>
                        <div class="right d-flex">
                            <input type="text" class="form-control" placeholder="Enter code.."> &nbsp;&nbsp;
                            <button class="apply-btn" mat-raised-button>Apply</button>
                        </div>
                    </div>
                    <hr class="bottom-hr">

                    <div class="pricing-bold d-flex justify-content-between">
                        <div class="left">Discount Applied:</div>
                        <div class="right">$124.00</div>
                    </div>

                </div>
            </div>

            <br />
            <br />
            <div class="payment-detail">
                <h4>Select your payment method</h4>
            </div>

            <div class="d-flex justify-content-center">
                <div class="buttons-holder d-flex">
                    <button class="credit-btn" mat-raised-button><img src="./../../../../assets/images/Payment/credit-card-icon.png"> &nbsp; Credit / Debit</button>
                    <button class="paypal-btn" mat-raised-button><img src="./../../../../assets/images/Payment/paypay-icon.png"> &nbsp; PayPal</button>
                    <button class="pay-btn" mat-raised-button>Pay Now</button>
                </div>
            </div>

        </div>

    </section>
</div>