<div class="container">
    <section>

        <div class="section-container d-flex">
            <div class="left">
                <div class="parking-session">
                    <div class="header text-center">
                        <h4>Your Parking Session</h4>
                    </div>

                    <div class="session-detail">

                        <div class="header">
                            <h4>Booking Details</h4>
                        </div>

                        <div class="session-holder">

                            <div class="date d-flex align-items-center justify-content-between">
                                <div>
                                    <h4>Start date:</h4>
                                </div>

                                <div>
                                    <button class="select-date-btn" mat-raised-button> <span>Tomorrow</span> &nbsp; <img src="./../../../../assets/images/Reservation/dropdown-black.png"></button>
                                </div>
                            </div>


                            <hr class="top-hr">

                            <div class="pricing-holder">
                                <div class="pricing d-flex justify-content-between">
                                    <div class="left">Monthly cost:</div>
                                    <div class="text">$124.00</div>
                                </div>

                                <hr class="bottom-hr">

                                <div class="pricing d-flex justify-content-between">
                                    <div class="left">Deposit:</div>
                                    <div class="text">$124.00 (taken today)</div>
                                </div>

                                <hr class="bottom-hr">

                                <div class="pricing d-flex justify-content-between">
                                    <div class="left">First billing date:</div>
                                    <div class="text">Tomorrow</div>
                                </div>

                                <hr class="bottom-hr">

                                <div class="pricing d-flex justify-content-between">
                                    <div class="left">Next billing date:</div>
                                    <div class="text">1st Feb</div>
                                </div>

                                <hr class="bottom-hr">

                                <div class="pricing d-flex justify-content-between">
                                    <div class="left">Billing frequency:</div>
                                    <div class="text">Monthly rolling</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="payment">
                    <div class="header">
                        <h3>BOOKING SUMMARY</h3>
                        <h4>Parking on Doghurst Drive, UB7</h4>
                    </div>

                    <div class="payment-detail">
                        <div class="detail-holder">
                            <h4>Price breakdown:</h4>

                            <hr class="top-hr">

                            <div class="pricing d-flex justify-content-between">
                                <div class="left">Monthly cost:</div>
                                <div class="text">$124.00</div>
                            </div>

                            <div class="pricing d-flex justify-content-between">
                                <div class="left">Deposit:</div>
                                <div class="text">$124.00 (taken today)</div>
                            </div>

                            <div class="pricing d-flex justify-content-between">
                                <div class="left">Billing frequency:</div>
                                <div class="text">Monthly rolling</div>
                            </div>

                            <hr class="bottom-hr">

                            <div class="pricing-bold d-flex justify-content-between">
                                <div class="left">Total due today (deposit):</div>
                                <div class="text">$124.00</div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="book">

                    <div class="book-detail-holder">
                        <div class="book-detail">
                            <div class="header d-flex align-items-center">
                                <img src="./../../../../assets/images/Reservation/lock-orange-icon.png"> &nbsp;
                                <h4>Book with confidence</h4>
                            </div>

                            <div class="book-info">
                                <div><img src="./../../../../assets/images/Reservation/tick-icon.png"> &nbsp; <span>Confirmation is immediate</span></div>
                                <div><img src="./../../../../assets/images/Reservation/tick-icon.png"> &nbsp; <span>70,000+ Trustpilot reviews</span></div>
                                <div><img src="./../../../../assets/images/Reservation/tick-icon.png"> &nbsp; <span>Trusted by over 1 million drivers</span></div>
                                <div><img src="./../../../../assets/images/Reservation/tick-icon.png"> &nbsp; <span>Free cancellation up to 48 hours after start date</span></div>
                            </div>

                            <div class="bottom">
                                <h4 class="black">You’re always protected</h4>

                                <div class="d-flex align-items-center">
                                    <h4 class="orange">You’re always protected</h4> &nbsp; <img src="./../../../../assets/images/Reservation/dropdown-icon-orange.png">
                                </div>

                                <div class="badge">
                                    <img src="./../../../../assets/images/Reservation/badge.png">
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>



    </section>
</div>